@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-color: rgb(129, 127, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
    height: 500px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: center;
    align-items: center;
}
